PG_HOST=localhost
PG_PORT=5433
PG_USER=obm
PG_PASSWORD=obm123
PG_DATABASE=dbportalobm
PG_SSLMODE=disable

MEILI_URL=http://localhost:7701
MEILI_API_KEY=obm-meili-master-key
MEILI_INDEX_PREFIX=obm_

JWT_SECRET=obm-secret-key-change-in-prod
JWT_EXPIRATION_HOURS=24

SERVER_PORT=8094
GIN_MODE=release

SYNC_ON_STARTUP=true

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_TTL=24
